<!DOCTYPE html>
<html ng-app="solitaire"> 
<head>
  <title>Solitaire with Angular</title>
  <link rel="stylesheet" href="app/style.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="app/card/card.js"></script>
  <script src="app/foundation/foundation.js"></script>
  <script src="app/stock/stock.js"></script>
  <script src="app/app.js"></script>
</head>
<body>
  <div class="game" ng-controller="SolitaireGameController as game">
    <div class="game-row">
      <div>
        <button ng-click="game.showNextStockCard()">Take a card</button>
      </div>
      <div>
        <card card="game.activeCard"></card>
      </div>
      <div>X</div>
      <div ng-repeat="foundation in game.foundations track by $index">
        Foundation {{$index}}
      </div>
    </div>
    <div class="clear"></div>
    <div class="game-row">
      <div ng-repeat="pile in game.piles track by $index">
        Pile {{$index}}
      </div>
    </div>
    <div class="clear"></div>
  </div>
</body>