$card-width: 100px;
$card-height: 145px;
$card-peek: $card-height - 35px;
$card-border-radius: 5px;

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: green;
    overflow: hidden;
}

.pcard-bottom-of-stack {
    background-color: lightgreen;
    border-radius: $card-border-radius;
}

.pcard-bottom-of-pile {
    border: 1px solid black;
    border-radius: $card-border-radius;
    position: absolute;
}

*[class^="pcard-"], *[class*=" pcard-"] {
    width: $card-width;
    height: $card-height;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 5;
}

.game {
    position: absolute;
    width: 100%;
    height: 100%;
}

.game-row {
    position: relative;
    display: flex;
}

.game-column {
    width: $card-width;
    margin: 5px;
    vertical-align: top;
    position: relative;
}

.waste-card, .foundation-card, .stock-card {
    top: 0px;
    left: 0px;
    position: absolute;
}

.pile-card {
    margin-bottom: -$card-peek;
}

.pile {
    height: $card-height + ($card-peek * 12);
}
